.bg-3CC5ED {
   background-color : $color-3CC5ED;
}
.bg-2A2D2C {
   background-color : $color-2A2D2C;
}
.bg-EDF0F7 {
   background-color : $color-EDF0F7;
}
.bg-343741{
   background-color : $color-343741;
}
.bg-707070 {
   background-color : $color-707070;
}
.bg-828283 {
   background-color : $color-828283;
}
.bg-E5F4F8 {
   background-color : $color-E5F4F8;
}
.bg-D3D3D3 {
   background-color : $color-D3D3D3;
}
.bg-323639{
   background-color : $color-323639;
}
.bg-DDDDDD {
   background-color : $color-DDDDDD;
}
.bg-00000036{
   background-color : $color-00000036;
}
.bg-0808088E{
   background-color : $color-0808088E;
}
.bg-FFFFFF57{
   background-color : $color-FFFFFF57;
}


// color 
.text-3CC5ED {
   color : $color-3CC5ED;
}
.text-2A2D2C {
   color : $color-2A2D2C;
}
.text-EDF0F7 {
   color : $color-EDF0F7;
}
.text-343741{
   color : $color-343741;
}
.text-707070 {
   color : $color-707070;
}
.text-828283 {
   color : $color-828283;
}
.text-E5F4F8 {
   color : $color-E5F4F8;
}
.text-D3D3D3 {
   color : $color-D3D3D3;
}
.text-323639{
   color : $color-323639;
}
.text-DDDDDD {
   color : $color-DDDDDD;
}
.text-00000036{
   color : $color-00000036;
}
.text-0808088E{
   color : $color-0808088E;
}
.text-FFFFFF57{
   color : $color-FFFFFF57;
}


.font11{
  font-size : $font11;
}
.font12{
  font-size : $font12;
}
.font13{
  font-size : $font13;
}
.font14{
  font-size : $font14;
}
.font16{
  font-size : $font16;
}
.font18{
  font-size : $font18;
}
.font25{
  font-size : $font25;
}
.font26{
  font-size : $font26;
}
.font36{
  font-size : $font36;
}
.font40{
  font-size : $font40;
}
.font54{
  font-size : $font54;
}
.font55{
  font-size : $font55;
}
.font85{
  font-size : $font85;
}

.leading14{
    line-height : $leading14;
}
.leading26{
    line-height : $leading26;
}
.leading29{
    line-height : $leading29;
}
.leading32{
    line-height : $leading32;
}
.leading35{
    line-height : $leading35;
}
.leading43{
    line-height : $leading43;
}
.leading45{
    line-height : $leading45;
}
.leading48{
    line-height : $leading48;
}
.leading59{
    line-height : $leading59;
}
.leading60{
    line-height : $leading60;
}
.leading65{
    line-height : $leading65;
}
.leading85{
    line-height : $leading85;
}

.space-0_12px{
    letter-spacing: $space-0_12px;
}
.space0_24px{
    letter-spacing: $space0_24px;
}

.radius3{
    border-radius:  $radius3;
}
.radius5{
    border-radius:  $radius5;
}


.opacity10{
    opacity: $opacity10;
}
.opacity18{
    opacity: $opacity18;
}
.opacity20{
    opacity: $opacity20;
}
.opacity23{
    opacity: $opacity23;
}
.opacity28{
    opacity: $opacity28;
}
.opacity33{
    opacity: $opacity33;
}
.opacity35{
    opacity: $opacity35;
}
.opacity65{
    opacity: $opacity65;
}
