.card-hover {
    .img {
        transform: scale(1);
        transition: 0.3s all ease-in-out;
    }

    &:hover {
        .img {
            transform: scale(1.1);
        }
    }
}

.two-cards {
    height: 435px;

    @include media-breakpoint-down(lg) {
        height: 260px;
    }

    .two-card-layer {
        background: linear-gradient(#00000036, #0808088E);
    }

    .two-card-content {
        padding: 31px 37px 40px;

        @include media-breakpoint-down(lg) {
            padding: 16px 16px 30px 16px;
        }
    }

    .two-card-arrow {
        height: 42px;
        width: 42px;

        @include media-breakpoint-down(lg) {
            width: 35px;
            height: 35px;
        }

        img {
            height: 9px;
        }
    }
}

.project-auto-slider-cards {
    .project-card-image {
        height: 413px;

        @include media-breakpoint-down(lg) {
            height: 250px;
        }
    }

    .project-arrow {
        height: 42px;
        width: 42px;

        @include media-breakpoint-down(lg) {
            width: 35px;
            height: 35px;
        }

        img {
            height: 9px;
        }
    }
}

.latest-cards-col {
    border-right: 1px solid $color-DDDDDD;

    @include media-breakpoint-down(lg) {
        border-right: 0px !important;
    }

    &:first-child {
        flex: 0 0 auto;
        width: 50%;

        @include media-breakpoint-down(lg) {
            width: 100%;
        }

        .news-image {
            height: 502px;

            @include media-breakpoint-down(lg) {
                height: 250px;
            }
        }
    }

    &:nth-child(2),
    &:nth-child(3) {
        flex: 0 0 auto;
        width: 25%;

        @include media-breakpoint-down(lg) {
            width: 100%;
        }

        .news-image {
            height: 266px;

            @include media-breakpoint-down(lg) {
                height: 250px;
            }
        }
    }

    &:last-child {
        border-right: none;
    }
}

.team-cards {

    &:first-child,
    &:nth-child(2) {
        margin-top: 0px !important;
    }

    @include media-breakpoint-up(lg) {

        &:nth-child(3),
        &:nth-child(4) {
            margin-top: 0px !important;
        }
    }

    .team-card {
        .team-img {
            height: 316px;

            @include media-breakpoint-down(md) {
                height: 200px;
            }
        }
    }
}

.continue-reading-card {
    .news-image {
        height: 266px;
    }
}

.our-sector-card {
    border-top: 1px solid rgba($color: $black, $alpha: 0.2);

    .our-sector-img {
        height: 467px;

        @include media-breakpoint-down(lg) {
            height: 270px;
        }
    }
}

.how-we-work-card {
    height: 344px;
    padding: 20px 20px 50px 35px;

    @include media-breakpoint-down(lg) {
        padding: 20px 20px 25px 20px;
    }

    .how-we-work-close {
        height: 42px;
        width: 42px;

        @include media-breakpoint-down(lg) {
            height: 35px;
            width: 35px;
        }

        .plus-img {
            height: 10px;
        }
    }

    .card-content {
        transform: translateY(160px);

        @include media-breakpoint-down(lg) {
            transform: translateY(200px);
        }
    }

    .desc {
        height: 0px;
        opacity: 0;
        visibility: hidden;
    }

    &:hover {
        .plus-img {
            transform: rotate(45deg);
        }

        .card-content {
            transform: translateY(20px);

            @include media-breakpoint-down(lg) {
                transform: translateY(50px);
            }
        }

        .desc {
            height: fit-content;
            opacity: 1;
            visibility: visible;
        }
    }
}

.project-col {
    border-right: 1px solid $color-707070;
}

.project-cards {
    .project-card-image {
        height: 413px;
    }

    .project-arrow {
        height: 42px;
        width: 42px;
    }
}