.hero-slider{
    .slick-list {
        height: 100%;

        .slick-track {
            height: 100%;

            .slick-slide>div {
                height: 100%;
            }
        }
    }
}

.logo-slider{
    .slick-list{
        overflow: visible;
    }
}

.history-slider-section{
    .slick-arrow{
        .prev-arrow,
        .next-arrow{
            height: 70px;
            width: 70px;
        }
    }
}

.home-hero-section{
    .slick-counter{
        bottom: 80px;
    }
    .slick-dots{
        position: initial;
        text-align: start;
        li{
            width: 91px;
            height: 2px;
            background-color: rgba($color: $white, $alpha: 0.44);
            margin: 0px;
            &.slick-active{
                background-color: $color-3CC5ED;
            }
            button{
                display: none !important;
            }
        }
    }
}

.project-auto-slider{
    .slick-slide{
        border-right: 1px solid $color-707070;
    }
}
.continue-reading-slider{
    .slick-slide{
        border-right: 1px solid $color-DDDDDD;
    }
}
.project-auto-slider{
    .slick-list{
        overflow: visible !important;
    }
}
.project-auto-slider,
.continue-reading-slider{
    .slick-list{
        margin-left: -15px;
        margin-right: -15px;
        .slick-slide{
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}
.footer-slider{
    .slick-list{
        margin-left: -8px;
        margin-right: -8px;
        .slick-slide{
            padding-left: 8px;
            padding-right: 8px;
        }
    }
}
.testimonial-slider{
    .slick-list{
        z-index: 1;
    }
    .slick-dots{
        top: 0px;
        li{
            display: flex;
            flex-direction: column;
            text-align: start;
            width: 2px;
            height: 49px;
            background-color: rgba($color: $color-343741, $alpha: 0.14);
            &.slick-active{
                background-color: rgba($color: $color-343741, $alpha: 1.0);
            }
            button{
                display: none;
            }
        }
    }
}

.history-slider {
    .slick-list {
        overflow: visible;

        .slick-slide {
            &.slick-current {
                .our-history {
                    .history-number {
                        background-color: $color-343741;
                        color: $white;
                    }
                }
            }
        }
    }

    .our-history {
        .history-line {
            height: 1px;
            background-color: rgba($color: $black, $alpha: 0.07)
        }

        .history-number {
            min-width: 91px;
            height: 32px;
            background-color: $color-EDF0F7;
        }

        .our-history-part {
            padding-right: 30px;

            @include media-breakpoint-down(lg) {
                padding-right: 15px;
            }

            .our-history-img {
                height: 365px;
                
                @include media-breakpoint-down(lg) {
                    height: 276px;
                }
            }
        }
    }
}

.slick-hidden{
    display: none !important;
}