.sub-hero-section {
    height: 583px;

    @include media-breakpoint-down(lg) {
        height: 560px;
    }
}

.image-video-full-banner-img {
    height: 689px;

    @include media-breakpoint-down(lg) {
        height: 270px;
        border-radius: 0px !important;
    }
}

.accordion-left-right-section {
    .accordion-image {
        height: 664px;

        @include media-breakpoint-down(lg) {
            height: 335px;
        }
    }

    .closet-accordion {
        .closet-item {
            border-bottom: 1px solid $color-DDDDDD;

            &:first-child {
                border-top: 1px solid $color-DDDDDD;
            }
        }
    }
}

.logo-slider-section {
    .logo-img {
        height: 45px;
    }
}

