.social-icon-group{
    margin-right: 20px;
    &:last-child{
        margin-right: 0px !important;
    }
    .social-icon{
        height: 20px;
    }
}
.location-section{
    .location-img{
        height: 573px;
        mix-blend-mode: luminosity;
        @include media-breakpoint-down(lg){
            height: 250px;
        }
    }
}

.faq-accordion-section{
       .closet-accordion{
        .closet-item{
            border-top: 1px solid rgba($color: $black, $alpha: 0.35);
            .closet-header{
                .accordion-close{
                    height: 42px;
                    width: 42px;
                    max-width: 42px !important;
                    .plus{
                        height: 10px;
                    }
                    @include media-breakpoint-down(lg){
                        height: 35px;
                        width: 35px;
                         max-width: 35px !important;
                    }
                }
                &.active{
                    .accordion-close{
                        .plus{
                            transform: rotate(45deg);
                        }
                    }
                }
                
            }
        }
        .closet-content{
            display: none;
        }
    }
}