.home-hero-section {
    @include media-breakpoint-down(lg) {
        height: 683px;
    }

    .hero-slider {
        .hero-content {
            height: calc(100% - 100px);
        }
    }

    .home-hero-pattern {
        height: 428px;

        @include media-breakpoint-down(lg) {
            height: 80px;
        }
    }
}

.left-right-content-section {
    .left-right-bg-image {
        height: 428px;

        @include media-breakpoint-down(lg) {
            height: 80px;
        }
    }
}

.two-cards-section {
    background: linear-gradient($color-EDF0F7 50%, $white 50%);

    @include media-breakpoint-down(lg) {
        background: linear-gradient(#EDF0F7 30%, #fff 30%);
    }
}

.left-right-image-video-section {
    .left-image {
        height: 664px;

        @include media-breakpoint-down(lg) {
            height: 335px;
        }
    }
}

.testimonial-slider-section {
    .quote-img {
        width: 25px;
        height: 25px;
        margin-right: 40px;
        
        @include media-breakpoint-down(lg) {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }
    }

    .testimonial-col {
        padding-left: 50px;

        @include media-breakpoint-down(lg) {
            padding-left: 25px;
        }
    }
}