.news-filter-row{
    .filter-button{
        height: 42px;
        border: 1px solid #0000001D;
        background-color: transparent;
        padding-left: 25px;
        padding-right: 25px;
        &.active{
            background-color: $white;
            border: 1px solid $white;
        }
        &:last-child{
            margin-right: 0px !important;
        }
    }
}

.news-open-content-section{
    .invasting-links{
        top: 270px;
        @include media-breakpoint-up(lg){
            height: calc(100vh - 526px);
        }
    }
    .news-open-img{
        height: 661px;
    }
    .testimonial-content{
        border-top: 1px solid rgba($color: $color-323639, $alpha: 0.3);
        border-bottom: 1px solid rgba($color: $color-323639, $alpha: 0.3);
        .black-quote{
            height: 57px;
        }
    }
}