.team-info-container{
    padding: 38px 28px 26px 94px;
    .info-icon{
        height: 42px;
        width: 42px;
    }
    .team-info{
        height: 425px;
    }
}

.service-point-section{
    .service-point-li{
        border-top: 1px solid rgba($color: $black, $alpha: 0.2);
        img{
            height: 15px;
            width: 15px;
        }
    }
}