.team-info-container{
    padding: 38px 28px 26px 94px;
    .info-icon{
        height: 42px;
        width: 42px;
    }
    .team-info{
        height: 425px;
    }
    @include media-breakpoint-down(lg){
        padding: 16px 16px 49px;
        .team-info{
            height: 300px;
        }
         .info-icon{
            height: 34px;
            width: 34px;
        }
    }
}

.service-point-section{
    .service-point-li{
        border-top: 1px solid rgba($color: $black, $alpha: 0.2);
        img{
            height: 15px;
            width: 15px;
        }
        @include media-breakpoint-down(lg){
            &:last-child{
                border-bottom: 1px solid rgba($color: $black, $alpha: 0.2);
            }
             img{
                height: 10px;
                width: 10px;
                margin-top: 12px;
            }
        }
    }
}